@import "../../commons/styles/global";

.register-section {
  width: 100%;
  height: 100vh;
  @extend .row-around;

  @media screen and (max-width: 580px) {
   flex-direction: row;
  }
  
}

.form-register {
  @extend .column-center;
}
