@use '../../styles/variables' as var;
@import "../../styles/global";

.logo-container{
  @extend .column-center;  

  .image {
    width: 80%;
    max-width: 400px;
    @media screen and (max-width: 580px) {
      max-width: 300px;
    }
  }

  .title {
    font-family: var.$font-title;
    color: var.$color-text;
    font-size: 3rem;
    margin-bottom: 0;
    @media screen and (max-width: 580px) {
      font-size: 1.8rem;
    }
  }
}