@use '../../styles/variables' as var;
@import "../../styles/global";

.password-container {
  position: relative;
}
.input-password {
  @extend .text;
  @extend .input;
  padding-right: 3.5rem;
  
}

.img-input {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 1px;
  right: 6px;
  background-repeat: no-repeat;
  background-position: center;
}

.isPassword {
  background-image: url("../../../icons/view.png");
}

.isText{
  background-image: url("../../../icons/invisible.png");

}
