$font-title: "Pangolin", cursive;
$font-text: "Roboto", sans-serif;
$color-background: #fcb4ac;
$color-btn: #a4eccc;
$color-text: #604261;
$color-box1: #fcfcb4;
$color-box2: #FF3855;
$shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
$radius:10px;

