@use '../../styles/variables' as var;
@import "../../styles/global";

.card {
  padding: 1.5rem;
  border-radius: var.$radius;
  background-color: var.$color-box1;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #fcfcb4;
  margin: 1rem;
  width: 70%;
  max-width: 550px;

  @media screen and (max-width: 580px) {
    width: 90%;
  }
  

  &.vertical {    
    @extend .column-center;
  }

  &.horizontal {   
    @extend.row-around;
  }
}
