@use '../../styles/variables' as var;
@import '../../styles/global';


.btn-main{
  width: 200px;
  background-color: var.$color-btn;
  border-radius: var.$radius;
  filter: drop-shadow(var.$shadow);
  border: none;
  padding: 0.3rem 1rem;
  @extend .text;
  cursor: pointer;
  margin: 1rem 0;
}

